{#
/**
 * @file
 * Default theme implementation for a summary of a webform evl handler.
 *
 * Available variables:
 * - settings: The current configuration for this handler:
 *   - element_key: The options element.
 * - handler: The handler information, including:
 *   - id: The handler plugin id.
 *   - handler_id: The handler id.
 *   - label: The handler label.
 *   - description: The handler description.
 *
 * @ingroup themeable
 */
#}
<b>{{ 'Element'|t }}:</b> {{ settings.element_key }}<br/>
{% if settings.limit %}<b>{{ 'Limit'|t }}:</b> {{ settings.limit }}<br/>{% endif %}
{% if settings.none_remaining_action %}<b>{{ 'Limit action'|t }}:</b> {{ settings.none_remaining_action }}<br/>{% endif %}
{% if settings.message_display %}<b>{{ 'Message display'|t }}:</b> {{ settings.message_display }}<br/>{% endif %}
